@import 'var.scss';
.Art-gallery{
    padding-top: 70px;
    background-color: $Black;
    @include wrapperForGallery;
   
}
.Art-gallery__text {
    font-family: $Forum;
    color: $white;
    font-size: 80px;
    padding-bottom: 25px;
    padding-left: 20px;
}
.Art-gallery__items { 
    display:flex;
    gap:35px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}
@media(max-width: 1836px){
    .Art-gallery__items{
        img{
            width: 404px;
            height: 510px;
        }
        gap:20px
    }
}
@media(max-width: 1664px){
    .Art-gallery__items{
        img{
            width: 360px;
            height: 450px;
        }
    }
}
@media(max-width: 1520px){
    .Art-gallery__items{
        img{
            width: 330px;
            height: 420px;
        }
    }
}
@media(max-width: 1436px){
    .Art-gallery__items{
        img{
            width: 330px;
            height: 420px;
        }
    }
}
@media(max-width: 1076px){
    .Art-gallery__items{
        img{
            width: 304px;
            height: 380px;
        }
    }
    .Art-gallery__text{
        font-size: 50px;
    }
}

@media(max-width: 768px){
    .Art-gallery__items{
        img{
            width: 302px;
            height: 440px;
        }
    }
    .Art-gallery__text{
        font-size: 40px;
    }
}
@media(max-width:668px){
    .Art-gallery__items{
        img{
            width: 252px;
            height: 380px;
        }
    }
}
@media(max-width:564px){
    .Art-gallery__items{
        img{
            width: 212px;
            height: 330px;
        }
    }
}
@media(max-width:492px){
    .Art-gallery{
        padding-top: 20px;
    }
    .Art-gallery__items{
        img{
            width: 178px;
            height: 223px;
        }
    }
    .Art-gallery__text{
        font-size: 28px;
    }
}