@import 'mixin.scss';
@import 'var.scss';
header{
    height: 150px;
    @include wrapper;
    background-color: $black;
    color: $white;

    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header__LOUVRE {
    display: flex;
    align-items: center;
    gap: 26px;
    
}

.header__LOUVRE__text {
    font-family: $forum;
    font-size: 28px;
}
.header__LOUVRE-Menu {
    ul{ 
        list-style-type: none;
        font-family: $roboto;
        display: flex;
        gap: 55px;
    }
}