*{ 
    font-size: 22px;

    padding: 0;
    margin: 0;

   
}
$Roboto: 'Roboto', sans-serif;
$Forum: 'Forum', sans-serif;
$Black: black;
$white: white;
$lineColor: #710707;
$colorH: #9D8665;
$colorException: #CAAA7D;