*{ 
    font-size: 22px;
    padding: 0;
    margin: 0;
}
$roboto: 'Roboto', sans-serif;
$forum: 'Forum', sans-serif;
$black: black;
$white: white;
$lineColor: #710707;
$colorH: #9D8665;
$colorException: #CAAA7D;
$colorForHover: #d7d7d7;
$colorForBorder: #999;
$gold: goldenrod;
$spanColor: #D2B183;
$inputColor: #f7f9fc;
$colorDark: #272727;
$grey: #939393;