@import 'var.scss';
.Virtual-tour {
    padding-top: 90px;
    @include wrapper;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Virtual-tour__wrapper{
    display:flex;
    align-items: flex-start;
    flex-direction: column;
    gap:45px;

    width: 100%;
}
.Virual-tour__h {
    font-family: $Forum;
    font-size: 80px;
    color: $colorH;
    
}
.Virtual-tour__line {
    width: 100%;
    height: 3px;
    background-color: $lineColor;
}
.Virtual-tour__flexBox {
    padding-top: 70px;
    padding-bottom: 70px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:50px;
}
.Virtual-tour__flexBox__item {
    display:flex;
    flex-direction: column;
    gap: 15px;
}
.Virtual-tour__flexBox__item__h3 {
    font-family: $Forum;
    font-size: 32px;

}
.Virtual-tour__flexBox__item__line {
    width: 300px;
    height: 3px;
    background-color: $lineColor;
}
.Virtual-tour__flexBox__item__name {
    font-family: $Roboto;
}
.Virtual-tour__flexBox__item__address {
    font-family: $Roboto;
    font-weight: 18px;
}
@media(max-width: 1024px){
    .Virtual-tour__flexBox__item__img{
        img{
            width: 330px;
            height: 215px;
        }
    }
    .Virual-tour__h{
        font-size: 50px;
    }
}
@media(max-width: 768px){
    .Virtual-tour__flexBox__item__img{
        img{
            width: 280px;
            height: 180px;
        }
    }
    .Virual-tour__h{
        font-size: 40px;
    }
    .Virtual-tour{
        padding-top: 30px;
    }
    .Virtual-tour__flexBox{
        padding-top: 30px;
        padding-bottom: 30px;
        gap:30px;
    }
    .Virtual-tour__wrapper{
        gap:25px;
    }
}
